.grid-container{
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "area1 content content"
        "area1 content content";
        
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.fondo{
    background-color: black;
}
.area-navbar{
    grid-area: navbar;
    background-color: black;
}

.area1{
    grid-area: area1;
    background: lightblue;
    padding: 40px;
}

.content{
    grid-area: content;
    background: black;
    padding: 40px;
}
.h5{
color: black;
}
